Source: wlt-script
Section: utils
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/hosiet/wlt-script

Package: wlt-script
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, curl
Description: Scripts to log into ustc wlt service
 As said.
